body {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  color: #9b59b6;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  padding: 20px;
}

.resume-link {
  margin-top: 20px;
}

.resume-link a {
  padding: 10px 20px;
  background-color: #9b59b6;
  color: #111;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s;
}

.resume-link a:hover {
  background-color: #9b59b6;
}
